#feu-diliman {
    width: 210px;
    top: 410px;
    left: 620px;
}

#feu-alabang {
    width: 190px;
    top: 350px;
    left: 340px;
}

#feu-tech {
    width: 105px;
    top: 485px;
    left: 495px;
}

#affordable {
    width: 120px;
    top: 595px;
    left: 700px;
}

#climate {
    width: 110px;
    top: 566px;
    left: 610px;
}

#health {
    width: 160px;
    top: 470px;
    left: 820px;
}

#industry {
    width: 95px;
    top: 280px;
    left: 990px;
}

#poverty {
    width: 100px;
    top: 280px;
    left: 530px;
}

#education {
    width: 160px;
    top: 200px;
    left: 658px;
}

#sustain {
    width: 132px;
    top: 575px;
    left: 285px;
}

#hunger {
    width: 120px;
    top: 480px;
    left: 220px;
}

#arts {
    width: 150px;
    top: 190px;
    left: 365px;
}

#jpcs {
    width: 95px;
    top: 380px;
    left: 1100px;
}

#ftic {
    width: 95px;
    top: 342px;
    left: 872px;
}

#acm {
    width: 110px;
    top: 488px;
    left: 85px;
}

#city {
    width: 132px;
    top: 780px;
    left: 420px;
}
